.container{
    padding: 10px;
    border: 1px solid white;
    font-weight: bold;
    font-family: Arial Narrow; 
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 35%;
    margin-top: 0%;
    background-color: #bdcebe;
    border-radius: 5px;
    font-size: larger;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: black;
    padding: 10px;
    background-color:  #f4e1d2;
    width: 30%;
    margin-left: 35%;
    margin-top: -15%;
}